@import './variables';
@import './responsive';

$pad: 8px;
$base: calc(#{$layout-desktop} / 6 - (2 * #{$pad}));

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25vh;
}

.gallery-item {
  cursor: pointer;
  margin: $pad;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: calc(#{$base} * 2 + #{$pad} * 2);
  background: #ecebeb;
  position: relative;
  transition-duration: 0.2s;

  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
  }

  &:hover {
    .gallery-overlay {
      display: block;
    }
  }

  @for $i from 1 through 6 {
    &-#{$i} {
      @extend .gallery-item;
      width: calc(#{$base} * #{$i} + #{$pad} * (#{$i} - 1) * 2 );
    }
  }
}

.gallery-overlay {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
}

.gallery-info {
  padding: 16px;
  bottom: 0;
  position: absolute;

  p {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

@include device(tablet) {
  $pad: 4px;
  $base: calc(#{$layout-tablet} / 6 - (2 * #{$pad}));

  .gallery-item {
    margin: $pad;
    height: calc(#{$base} * 2 + #{$pad} * 2);

    @for $i from 1 through 6 {
      &-#{$i} {
        width: calc(#{$base} * #{$i} + #{$pad} * (#{$i} - 1) * 2 );
      }
    }
  }
}

@include device(mobile) {
  .gallery {
    flex-direction: column;
  }
  .gallery-item {
    width: $layout-tablet;
    height: auto;
    margin: 6px 0;
  }
}