.header {
  display: flex;
  align-items: center;
  max-width: 730px;
  margin: 0 auto;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }
  h1 {
    font-size: 3.4rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }
  p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

.header-btn {
  display: flex;
  padding-top: 5px;
  button {
    margin-right: 12px;
  }
}

.header-container {
  padding: 4px;
}

.header-pics {
  display: flex;
  margin-right: 40px;
}

.header-pic-long {
  height: calc(400px + 8px);
  width: 200px;
  border-radius: 8px;
  background-color: rgb(206, 206, 206);
}

.header-pic-square {
  background-color: rgb(206, 206, 206);
  width: 200px;
  height: 200px;
  border-radius: 8px;
  &:first-child {
    margin-bottom: 8px;
  }
}

@include device(tablet) {
  .header {
    max-width: 550px;
    h2 { font-size: 1.15rem; }
    h1 {
      font-size: 1.85rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 1.35rem;
      margin-bottom: 1rem;
    }
  }

  $header-width: 140px;
  .header-pics {
    margin-right: 35px;
  }
  .header-pic-long {
    width: $header-width;
    height: calc(#{$header-width} * 2 + 8px);
  }
  .header-pic-square {
    width: $header-width;
    height: $header-width;
  }
}

@include device(mobile) {
  .header {
    flex-direction: column;
    h2 { margin-top: 1rem; }
    br { display: none; }
  }

  $header-width: calc(40vw + 4px);
  .header-container {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .header-pics {
    margin: 0;
    justify-content: center;
  }
  .header-pic-long {
    width: $header-width;
    height: calc(#{$header-width} * 2 + 8px);
  }
  .header-pic-square {
    width: $header-width;
    height: $header-width;
  }
}