@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.layout {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 12vh;
}

.header {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  h2 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.header-btn {
  display: flex;
  padding-top: 5px;
  button {
    margin-right: 12px;
  }
}

.header-pics {
  display: flex;
  margin-right: 40px;
}

.header-pic-long {
  height: calc(400px + 8px);
  width: 200px;
  border-radius: 8px;
  &:first-child {
    margin: 8px 0 8px 0;
    background-color: rgb(206, 206, 206);
  }
}

.header-pic-square {
  background-color: rgb(206, 206, 206);
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 8px;
}

.btn {
  $btn-depth: 5px;
  $btn-default: #d6d6d6;
  $btn-github: #24292E;
  $btn-twitter: #0c9ffa;
  $btn-instagram: #ff2e9d;

  border: none;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 0;
  background: $btn-default;
  box-shadow: 0px $btn-depth 0px 0px darken($btn-default, 8%);
  transition: all 0.12s;
  outline: none;

  * {
    color: white;
  }

  &:active {
    top: $btn-depth;
    box-shadow: 0px 0px 0px 0px darken($btn-default, 8%);
  }

  &-github {
    @extend .btn;
    background: #24292E;
    box-shadow: 0px $btn-depth 0px 0px darken($btn-github, 20%);
    &:active {
      box-shadow: 0px 0px 0px 0px darken($btn-github, 20%);
    }
  }

  &-instagram {
    @extend .btn;
    background: $btn-instagram;
    box-shadow: 0px $btn-depth 0px 0px darken($btn-instagram, 12%);
    &:active {
      box-shadow: 0px 0px 0px 0px darken($btn-instagram, 12%);
    }
  }

  &-twitter {
    @extend .btn;
    background: $btn-twitter;
    box-shadow: 0px $btn-depth 0px 0px darken($btn-twitter, 8%);
    &:active {
      box-shadow: 0px 0px 0px 0px darken($btn-twitter, 8%);
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 550px;
    h2 {
      font-size: 1.15rem;
      margin-bottom: 0.5rem;
    }
    h1 {
      font-size: 1.85rem;
      margin: 1rem 0;
    }
    p {
      font-size: 0.8rem;
      line-height: 1.35rem;
      margin-bottom: 1rem;
    }
  }

  $header-width: 140px;
  .header-pics {
    margin-right: 35px;
  }
  .header-pic-long {
    width: $header-width;
    height: calc(#{$header-width} * 2 + 8px);
  }
  .header-pic-square {
    width: $header-width;
    height: $header-width;
  }

  .btn {
    height: 35px;
    width: 35px;
    font-size: 18px;
  }
}